*{
    font-family:'Pacifico', cursive;
    border: 0px;
    padding: 0px;
}

 body{
    height:100vh;
    width: 100vw;	
    /* overflow-x: hidden;  retira a barra de rolagem*/ 
}

.cabecalho{ 
    display: flex;
    width: 100vw;
    min-width: 490px;
    background: #ef666e;
    height: 300px;
    align-items: center;
    flex-direction: column;     
}

.logo__imagem{
   background-image: url('../imagem/logo12.png');
    background-repeat: no-repeat;
    width: 460px;
    height:250px;
    margin: auto;
}
.secao{
    width: 100%;
    min-width: 480px; 
    height: auto;
    text-align: center;
    
 }

 .secao__titulo{
    color:rgba(0, 0, 0, 0.856); 
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    text-align: center;
}

.secao__titulo:hover{
    cursor: pointer;
    
}

.secao__descricao{
    height: auto;
    font-size: 1.2rem;
    text-align: justify;
    text-indent: 2rem;
     padding: 2rem; 
    line-height: 2rem;
}


@media screen and (min-width:768px){
    .cabecalho{
        flex-direction:row;
        justify-content: space-between;
        
       
    }

    .logo__imagem{

      margin: 0 3rem 1rem;
    }

    .secao__descricao{
        margin:auto;
    }
}