*{
    font-family:'Pacifico', cursive;
    border: 0px;
    padding: 0px;
}

html, body{
    height:100vh;
    width: 100vw;
}

.cabecalho{ 
    width:100vw;
    min-width: 480px;
    background-color: #ef666e;
    height: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    
   
     /* justify-content: space-between;  */
}

.secao{
    /* min-width: 400px; */
    width: 100vw;
    min-width: 490px;
    height: 450px;
    padding: .5rem;
    text-align: center;
    
 }

 .secao__titulo{
    color:rgba(0, 0, 0, 0.856); 
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    text-align: center;
}

.secao__titulo:hover{
    cursor: pointer;
    
}

.secao__descricao{
    height: auto;
    font-size: 1.2rem;
    text-align: justify;
    text-indent: 2rem;
    /* padding: 10px; */
    line-height: 2rem;
}

.logo__imagem{
   background-image: url('../imagem/logo12.png');
    background-repeat: no-repeat;
    width:480px;
    height:220px;
    margin: auto;
}

@media screen and (min-width:992px){
    .cabecalho{
        flex-direction:row;
        justify-content: space-between;
       
    }

    .logo__imagem{

        margin: 2rem;
    }

    .secao__descricao{
        margin:auto;
    }
}