*{
    font-family:'Pacifico', cursive;
    border: 0px;
    padding: 0px;
}

body,html{
    width:100vw;
    height: 100vh;

}

body{
    background: #fdfdfd;
}


.cabecalho__produto{
    width:100vw;
    min-width: 490px;
    background-color: #ef666e;
    height: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.logo__imagem{
    background-image: url('../imagem/logo12.png');
    background-repeat: no-repeat;
    width:480px;
    height:250px;
    margin: auto;
 }

 @media screen and (min-width:768px){
    .cabecalho__produto{
        flex-direction:row;
        justify-content: space-between;
       
    }

    .logo__imagem{

        margin: 2rem;
    }
}
 