.rodape{
    background: url("../imagem/bg.jpg");
    height: 60px;
    font-size:x-large;
    padding: 40px 0; 
    font-family: 'Pacifico', cursive;
    font-size:larger;
    text-align:center;
    color: white;
   

}