.secao__conteudo{
    background: #f1e7e6;
    display: flex;
    flex-direction: column;
       
}

/* @media screen and (min-width: 320px) and (max-width: 480px){
    .secao__conteudo {
       width: 100%;
       
    }
} */