.secao__imagem{
    width:250px;
    height: 200px; 
    margin:auto;
    cursor:pointer;
}

.secao__imagem:before{
    background: url('')
}

@media screen and (min-width:0px) and (max-width: 768px){
    .secao__imagem{
        width: 100%;
        min-width: 380px;
        margin:auto;
}
}