.secao__descricao{
    font-size: 1.4rem;
    text-align: center;
    text-align: center;
    padding: 6px;
    line-height: normal;
}

/* @media screen and (min-width:320px) and (max-width: 480px){
    .secao__descricao{
        width:100%;
            
    }
}  */