.secao1{
    background: #fdfdfd;
    width: 185px;
    display: flex;
    flex-direction: column; 
    margin-right: .5rem; 
    padding: 1.01rem;
   
}

 @media screen and (min-width: 320px) and (max-width: 480px){
    .secao1{
        width: 100%;
        margin:0.5rem auto;     
    }
} 

@media screen and (min-width: 481px) and (max-width: 768px){
    .secao1{
        width: 70%;
        margin:0.5rem auto;     
    }
} 