.secao1{
   background: #fdfdfd;
    display: flex;
    flex-direction: column; 
    margin-right: .5rem; 
    padding: 1rem;
    width: 250px;
}

@media screen and (min-width:278px) and (max-width: 667px){
    .secao1{
        width: 100%;
        display: inline-block;
        margin:auto;
        margin-top:0.5rem;
       

     
}
}