.secao1{
   background: #fdfdfd;
    display: flex;
    flex-direction: column; 
    margin-right: .5rem; 
    padding: 1rem;
    width: 250px;
}

@media screen and (min-width:320px) and (max-width: 480px){
    .secao1{
        width: 100vw;
        margin:auto;
}
}