.secao__imagem{
    width:250px;
    height: 200px; 
    margin:auto;
    cursor:pointer;
}

.secao__imagem:before{
    background: url('')
}

@media screen and (min-width:300px) and (max-width: 480px){
    .secao__imagem{
        width: 100%;
        margin:auto;
}
}