*{
    font-family:'Pacifico', cursive;
    border: 0px;
    padding: 0px;
}

html, body{
    height:100vh;
    width: 100vw;
}

.cabecalho{ 
    width:100vw;
    min-width: 490px;
    background-color: #ef666e;
    height: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    
   
     /* justify-content: space-between;  */
}

.secao{
    min-width: 450px;
    width: 100vw;
    border: 1px solid #5ec0d9;
    height: 450px;
    padding: 1rem;
    text-align: center;
    
 }

 .secao__titulo{
    color:rgba(0, 0, 0, 0.856); 
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    text-align: center;
}

.secao__titulo:hover{
    cursor: pointer;
    
}

.secao__descricao{
    height: 100%;

    font-size: 1.4rem;
    text-align: justify;
    text-indent: 2rem;
    padding: 15px;
    line-height: 1.5rem;
}

.logo__imagem{
   background-image: url('../imagem/logo12.png');
    background-repeat: no-repeat;
    width:480px;
    height:250px;
    margin: auto ;
}

.rodape{
    background: url("../imagem/bg.jpg");
    width: 100vw;
    min-width: 500px;
    height: 40px;
    font-size:x-large;
    padding: 20px 0; 
    font-family: 'Pacifico', cursive;
    font-size:larger;
    text-align:center;
    color: white;

}