.menu__link{
    font-family: 'Pacifico', cursive;
    font-size: 1.4rem;
    color:#000000;;
    text-decoration: none;
    margin: 0 1rem;
    border-radius: 10px;
    padding: 5px;
}

.menu__link:hover{
    transition: .6s;
     border: 1px solid #000000;
     background-color:#f1e7e6;
     font-size: larger;
}

@media screen and (min-width:768px){
    .menu__link {
        margin: 0 2rem;
    }
}